.presentation-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.presentation-table td,
.presentation-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.presentation-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.presentation-table tr:hover {
  background-color: #bbb;
}

.presentation-table th {
  position: sticky;
  top: 60px; /*match the header height*/
  padding: 12px 10px;
  text-align: left;
  background-color: #fff;
  color: var(--color-prenda-blue);
}

.create-topic-button {
  text-decoration: none;
  width: 160px;
}
