@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.2);
  animation: spinner 1s infinite linear;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
